body {
    margin: 0;
    background-color: green;
}

.box {
    height: 300px;
    width: 300px;
    margin: 0;
    background: linear-gradient( to right, transparent, #0009);
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}