body {
    margin: 0;
    font-family: sans-serif;
}

.modal {
    position: absolute;
    background: #0009;
    height: 100vh;
    width: 100vw;
}

.modal__content {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__title {
    margin-top: 10px;
}

.modal__btn {
    background-color: #000;
    color: #fff;
    padding: 2px 2px;
    position: absolute; /*Respecto a la ventana, a su padre con posición relativa*/
    top: 0;
    right: 0;
}